.HomePage section {
  display: flex;
  width: 100%;
  height: 100vh;
}

.HomePage aside {
  display: grid;
  place-items: center;
  position: relative;
  width: 25%;
  padding: 2rem;
}
.HomePage .plant {
  position: absolute;
  bottom: -10px;
  right: -75px;
}

.HomePage__aside--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-block: 10%;
}
.HomePage main {
  width: 75%;
  padding: 4.375rem;
  background-color: var(--clr-light-green);
}

.HomePage main p {
  max-width: 700px;
}
.HomePage input {
  display: block;
  padding-inline: 1rem;
  padding-block: 0.4rem;
}

.HomePage button {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
}

.or {
  color: var(--clr-grey-green);
}

.login-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.login-icons img {
  height: 2.2rem;
}

.checklist-img {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
.checklist-img img {
  height: 55vh;
}
