.App {

}

.center {
  text-align: center;
}

.HomePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
@media (prefers-reduced-motion: no-preference) {
}